 <!-- Page Header -->
  <header class="masthead" style="background-image: url('/img/about-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>My name is Kübra Kolay and I am currently a Computer/Software Engineering student focusing on Artificial Intelligence. I have a deep passion for Artificial Intelligence and enjoy exploring its limitless possibilities.
        Through my academic journey and personal projects, I am constantly working to improve my understanding of Artificial Intelligence and its applications. From studying complex algorithms to developing AI-driven systems, my goal is to contribute meaningfully to the field.
        Artificial Intelligence is not just my field of study, it is my passion. Whether it is creating innovative solutions, researching the latest technology, or simply learning new things, I am always eager to grow and make an impact in this dynamic field.
        <p>Blogs are a great platform for sharing your thoughts, experiences, and knowledge. A blog-themed site allows you to express yourself, demonstrate your expertise by sharing information, and build a community of like-minded people. You can also increase your website’s visibility, build a professional identity, and even generate income by producing regular content. Blogs are an effective means of communication, both personally and professionally.</p>
      </div>
    </div>
  </div>

  <hr>